{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Create Account</h2>
    <form method="post" class="card card-body">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Password</label>
          <input type="text" class="form-control" name="password" required>
        </div>
      </div>
      <button class="btn btn-success w-100">Register</button>
    </form>
  </div>
</div>
{% endblock %}
